.counter{
    margin-left: 600px;
}
button{
    color: white;
    background-color: yellowgreen;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
h1{
    margin-left: 50px;
}
.red{
    color: red;
}
.green{
    color: green;
}
